@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@633&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@633&family=Titillium+Web:wght@300&display=swap');

body {
    background-color: #041333;
    padding: 0px;
    overflow-x:hidden;
    /* min-width: 0%; */
    margin: 0;
}

*{
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0;
}

#g8Logo{
    font-family: "Exo 2";
    font-size: 40px;
    color: white;
    cursor: pointer;
    vertical-align:center;
}

a, button {
    font-family: "Concert One";
    color: white;
}

.navbar{
    padding-bottom: 0px;
    padding-left: 150px;;
    padding-right:150px;
    border: 0px;
    display: flex;
    justify-content:space-around;
    align-items:baseline;
}

.nav_links button{
    display: inline-table;
    font-size: 18px;
    padding: 15px;
    background-color: transparent;
    border: none;
}
#cart{
    height: 35px;
    vertical-align: top;
    cursor: pointer;
    padding: auto;
}

#join{
    font-size: 15px;
    background-color: #7BA435;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#join:hover{
    color: #011634;
}

.warzone{
    padding-right:130px;
    padding-left:170px;

    margin-top: 170px;
    display: flex;
    justify-content:space-evenly;
    margin: 0;
}

.gr{
    font-family: "Concert One";
    color: #7BA435;
}

.warzone img{
    height: 400px;
    width: 400px;
    vertical-align: top;
    padding: 0;
}

#star{
    color: white;
}

.game{
    padding: 5px;
    font-size: 50px;
    color: white;
    font-family: "Exo 2";
}

.There{
    font-size: 20px;
    color: white;
    font-family: "Titillium Web";
}

.play{
    display: flex;
}

.play_now{
    background-color: #7BA435;
    color: white;
    padding: 0px 25px;
    border-color: transparent;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.play #play_now:hover {
    color: #011634;
}

.play #play_btn{
    cursor: pointer;
    height: 50px;
    width:50px;
}

br{
    line-height: 1px;
}

.vid_sec{
    display: flex;
    justify-content: space-evenly;
    background-color: #04112d;
    padding: 30px;
    margin: 0;
}

.vid{
    display: flex;
    justify-content: space-around;
}

.girl{
    height: 293px;
    position: relative;
}

.play2{
    top: 828px;
    position: absolute;
    height: 80px;
    opacity: 0.75;
    cursor: pointer;
}
.watch_live{
    top: 969px;
    position: absolute;
    height: 96px;
    cursor: pointer;
}
.play2:hover{
    opacity: 1;
}

.med{
    padding: 5px;
    font-size: 30px;
    color: white;
    font-family: "Exo 2";
}

.play_now_{
    background-color: #7BA435;
    color: white;
    padding: 15px 30px;
    border-color: transparent;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.up_mat{
    margin: 0;
    background-color: #011634;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.cen{
    text-align: center;
}

.up_mat{
    display: grid;
}

.cards{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    /* padding-right: 100px; */
}

.card_{
    padding-left: 0;
    display: grid;
}

.match{
    display: flex;
    justify-content: space-evenly;
    border: 0.5px gray;
    border-style: double;
    border-radius: 5px 5px 0px 0px;
    margin: 0;
    padding: 7px 0px 35px 0px;
}

.liv1{
    background-color: #011630;
    position: absolute;
    top: 1380px;
    margin: 0;
    display: flex;
    border: 0.5px gray;
    border-style: double;
    border-radius: 50px;
    justify-content: space-between;
    padding: 0px 25px;
    align-items: center;
    left: 267px;
}

.liv2{
    background-color: #011630;
    position: absolute;
    top: 1380px;
    margin: 0;
    display: flex;
    border: 0.5px gray;
    border-style: double;
    border-radius: 50px;
    justify-content: space-between;
    padding: 0px 25px;
    align-items: center;
    left: 647px;
}

.liv3{
    background-color: #011630;
    position: absolute;
    top: 1380px;
    margin: 0;
    display: flex;
    border: 0.5px gray;
    border-style: double;
    border-radius: 50px;
    justify-content: space-between;
    padding: 0px 25px;
    align-items: center;
    left: 1067px;
}


.liv4{
    background-color: #011630;
    position: absolute;
    top: 1788px;
    margin: 0;
    display: flex;
    border: 0.5px gray;
    border-style: double;
    border-radius: 50px;
    justify-content: space-between;
    padding: 0px 25px;
    align-items: center;
    left: 254px;
}

.liv5{
    background-color: #011630;
    position: absolute;
    top: 1788px;
    margin: 0;
    display: flex;
    border: 0.5px gray;
    border-style: double;
    border-radius: 50px;
    justify-content: space-between;
    padding: 0px 25px;
    align-items: center;
    left: 673px;
}

.match_2{
    border: 0.5px gray;
    border-style: double;
    border-radius: 0px 0px 5px 5px;
    margin: 0;
    justify-content: center;
    padding: 50px 30px 40px 30px;
}

.liv img{
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 6px 11px;
}

.stats{
    background-color: #04112d;
    padding: 70px;
    margin: 0%;
    display: flex;
    justify-content: center;
}

.stats_inner{
    border: 1px white;
    border-radius: 10px;
    border-style: double;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.num{
    color: white;
    font-family: "Exo 2";
    font-size: 50px;
}

.num_txt{
    color: white;
    background-color: #7BA435;
    font-family: "Exo 2";
    font-size: 10px;
    padding: 3px 15px;
    border-radius: 10px;
    text-align: center;
}

.bottom{
    background-color: #041333;
    background-size: auto;
    margin: 0;
    padding-top: 40px;
}

.foot{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
}

.subs
{
    justify-content: space-around;
    display: flex;
    background-color: #7BA435;
    border-radius: 15px;
    padding: 10px 0px;
    width: 70%;
}

.subs_news{
    font-family: "Exo 2";
    font-size: 30px;
    color: white;
}
.subs_news_1{
    font-family: "Exo 2";
    font-size: 25px;
    color: white;
}
.subs_txt{
    font-family: "Titillium Web";
    color: white;
    font-size: 15px;
}

#subs_btn{
    padding-left:7px;
    padding-right:7px;
    padding-top:6px;
    padding-bottom:8px;
    margin: 0;
    background-color: #011634;
    color: white;
    border-width: 5px;
    border-style: solid;
    border-color:white;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

input{
    padding: 12px;
    margin: 0;
    width:230px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.end{
    display: flex;
    justify-content: space-evenly;
}

.icons{
    display: flex;
    justify-content: space-between;
}

.icons img{
    height: 30px;
}

.green{
    font-family: "Titillium Web";
    color: #7BA435;
    font-size: 13px;
}

.grid_{
    margin: 0;
    display: inline-block;
}
